<h2>New destinations</h2>

<form method="POST" action="/bucket_list">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="country_select">Country Select:</label>
      <select name="country_id" id="country_select">
        <% @countries.each do |country| %>
          <option value=<%= country.id %>><%= country.name.capitalize %> </option>
          <% end %>
      </select>
    </div>



    <div class="form-el">
      <label for="city">City:</label>
      <input type="text" name="city" id="city"/>
    </div>

    <div class="form-el">
      <label for="Rating 1-5">Rating:</label>
      <input type="text" name="rating" id="rating"/>
    </div>


    <div class="form-el">
      <input type="submit" value="Submit New destination"/>
    </div>


  </div>
</form>
