<h2>New destinations</h2>

<form method="POST" action="/bucket_list">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="city_select">City Select:</label>
      <select name="city_id" id="city_select">
        <% @cities.each do |city| %>
          <option value=<%= city.id %>><%= city.name.capitalize %> </option>
        <% end %>
      </select>
    </div>

    <div class="form-el">
      <label for="Rating 1-5">Rating:</label>
      <input type="text" name="rating" id="rating"/>
    </div>


    <div class="form-el">
      <input type="submit" value="Submit New destination"/>
    </div>


  </div>
</form>
