
<form method="POST" action="/bucket_list">
  <div id="form-wrapper">
    <h2>New destination :</h2>

    <div id="form-el">
      <label for="city_select"><h2>Select the new city you would like to add to your bucket list:</h2></label>
      <select name="city_id" id="city_select">
        <% @cities.each do |city| %>
          <option value=<%= city.id %><%= city.name.capitalize %> </option>
        <% end %>
      </select>
    </div>

    <div id="form-el">
      <label for="Rating 1-5"><h2>Rating(1-5):</h2></label>
      <input type="text" name="rating" id="rating"/>
    </div>
    <div class="form-el">
      <input type="submit" value="Submit New destination"/>
    </div>


  </div>
</form>
