<h2>Cities</h2>

<div id="Cities-wrapper"

  <% @cities.each do |city| %>

    <div class="bucket_list">

    <p> <%= city.name %> </p>
    </div>

    <div class="form-el">
  <input type="submit" value=""/>
  </div>


<% end %>
</div>
