<h1>Cities</h1>

<div id="Cities-wrapper"

  <% @cities.each do |city| %>

    <div class="bucket_list">

    <h1><p> <%= city.name %> </p></h1>
    </div>

    <div class="form-el">

  </div>


<% end %>
</div>
