<h2>Create a New Country to be added to your Bucket List</h2>

<form method="POST" action="/country">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="country"><h2>Country:</h2></label>
      <input type="text" name="name" id="country"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Create New Country"/>
    </div>

  </div>
</form>
