

<form method="POST" action="/country">
  <div id="form-wrapper">
    <div id="form-el">
    <h2>Create a New Country to be added to your Bucket List</h2>
      <label for="country"><h2>Country:</h2></label>
      <input type="text" name="name" id="country"/>
    </div>

    <div id="form-el">
      <input type="submit" value="Create New Country"/>
    </div>

  </div>
</form>
