body {
  background: lightgrey url('/images/map2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  /* color: papayawhip; */
  font-family: 'Merriweather', serif;
  padding: 0px;
  margin: 0px;
}

#header {
  padding: 15px;
  color: black; 
  text-align: center;
  font-family: 'Special Elite', cursive;
  font-size: 2.5em
}
#bucket_list {
  padding-left: 25px;
  padding-top: 10px;
  text-align: center;
  font-size: 25px;
  margin-top: 75px;
}
#navside { 
  float: left; 
  text-align: left;
  margin-left: 25px;
  overflow: hidden;
}
#cities {
  padding-left: 25px;
  padding-top: 10px;
  text-align: center;
  font-size: 25px;
  margin-top: 75px;
}

#form-wrapper {
  margin-top: 50px;
  padding-left: 25px;
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
  margin-top: 75px;

}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Special Elite', cursive;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 2.5em;
  color: black;
}

h2 {
  font-family: 'Special Elite', cursive;
  font-size: 2.5em;
  color: black;
  text-align: left;
}

a, a:link, a:visited {
  color: #8B0000;
  text-decoration: none;
}
/* nav {
  padding: 10px;
  margin: 50px;
  padding-top: 25px;
} */

nav li {
  margin-bottom: 15px;
  font-size: 1em;
  text-align: left;
  color: black;
  text-transform: uppercase;
}
main {
  padding: 25px;
}
#content {
  border-left: 1px solid black;
  padding-left: 25px;
}
